<html>
    <head>
        <title>NAL研卒業研究ノート::{% block title %}{%endblock title%}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/site_media/css/scaffold.css" />
    </head>
    <body>
        <div class="header">
            <h1>NAL研卒業研究ノート</h1>
            <a href='/note'>トップページ</a>|
            <a href='/note/belong_list'>所属一覧</a>|
            <a href='/note/create_user'>新規ユーザー作成</a>|
            <a href='/note/create_belong'>新規所属作成</a>|
            <a href='/note/login'>ログイン</a>|
            <a href='/note/logout'>ログアウト</a>|
            <a href='/note/rss'>RSS</a>|
            <a href='/note/comment_rss'>コメントRSS</a>
        </div>

        <div class="content">
            <p style="color: green"></p>
            {% block content %}{% endblock content%}
            <br>
        </div>
        <div class="footer">
            Django 1.1 yono@eva.ie.u-ryukyu.ac.jp
        </div>
    </body>
</html>
