{% load utils %}
<html>
    <head>
      <title>{{ ''|get_longtitle }}::{% block title %}{%endblock title%}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="alternate" type="application/rss+xml"
        href="/note/rss/latest/" title="NAL研のRSS">
        <link rel="alternate" type="application/rss+xml"
        href="/note/rss/comment/" title="コメントのRSS">
        <script type="text/javascript" src="/site_media/js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="/site_media/js/note_form.js"></script>
        <script type="text/javascript" src="/site_media/js/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="/site_media/js/jquery.jqplot.js"></script>
        <script type="text/javascript" src="/site_media/js/jqplot.cursor.min.js"></script>
        <script type="text/javascript" src="/site_media/js/jqplot.barRenderer.min.js"></script>
        <script type="text/javascript" src="/site_media/js/jqplot.dateAxisRenderer.min.js"></script>
        <script type="text/javascript" src="/site_media/js/jqplot.canvasTextRenderer.min.js"></script>
        <script type="text/javascript" src="/site_media/js/jqplot.canvasAxisTickRenderer.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/site_media/css/jquery.jqplot.min.css"/>
        <script type="text/javascript">
       $(function() {
          $.jqplot.config.enablePlugins = true;
          $('#toggleButton').click(function(){
            if ($(this).text() == 'グラフ非表示') {
              $('#graphDiv').hide();
              $(this).text('グラフ表示');
            } else {
              $('#graphDiv').show();
              $(this).text('グラフ非表示');
            }
          });
           $.getJSON(
             '/note/json/{{theuser.username}}{% if "year" in request %}?year={{request.year}}{% endif %}', 
              null,
              function(data, status) {
                var hourMax = 0;
                $.each(data, function(key, value){
                  if (parseInt(value[1]) > hourMax) {
                    hourMax = parseInt(value[1]);
                  }
                });
                $.jqplot('graph', [data], {
                  seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {barPadding:10, barMargin:10, barWidth:240/data.length}
                  },
                  series: [{
                    label: '研究時間（hour）',
                    neighborThreshold: -1
                  }],
                  axesDefaults: {
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    tickOptions: {
                      fontSize: '12pt'
                    }
                  },
                  axes: {
                    xaxis:{
                      renderer: $.jqplot.DateAxisRenderer,
                      min: data[0][0],
                      max: data[data.length-1][0],
                      tickOptions:{formatString: '%Y-%m', angle: -30},
                      tickInterval : data.length/6+' month',
                      //numberTicks: data.length
                    },
                    yaxis:{
                      min: 0,
                      max: hourMax + 10,
                      tickOptions:{formatString: '%.1f'}
                    }
                  },
                  cursor: {  
                    show: true,
                    showVerticalLine:true,
                    showHorizontalLine: true,
                    showCursorLegend:true,
                    showTooltip: false,
                    zoom:true
                  }
                });
              });
       });
        </script>

        {% block rss %}
        {% endblock rss %}
        <link rel="stylesheet" href="/site_media/css/scaffold.css" />
    </head>
    <body>
        <div class="header">
          <h1>{{ ''|get_longtitle }}</h1>
            <a href='/note/'>トップページ</a>|
            {% if user.username %}
            <a href='/note/home/'>ホーム</a>|
            {% endif %}
            {% if user.username %}
            <a href='/note/auth/logout/'>ログアウト</a>|
            {% else %}
            <a href='/note/auth/login/'>ログイン</a>|
            {% endif %}
            <a href='/note/rss/latest/'>RSS</a>|
            <a href='/note/rss/comment/'>コメントRSS</a>|
            <form action='/note/search/' method='GET'>
                <input name='keywords' value="" />
                <input type="submit" value="検索" class="button" />
            </form>
        </div>

<div class="content">
            <p style="color: green"></p>
            {% block content %}{% endblock content%}
            <br>
</div><!-- class="content" -->
      <div class="footer">
      </div><!-- class="footer" -->
    </body>
</html>
