<html>
    <head>
        <title>NAL研卒業研究ノート::{% block title %}{%endblock title%}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="alternate" type="application/rss+xml"
        href="/note/rss/latest/" title="NAL研のRSS">
        <link rel="alternate" type="application/rss+xml"
        href="/note/rss/comment/" title="コメントのRSS">
        {% block rss %}
        {% endblock rss %}
        <link rel="stylesheet" href="/site_media/css/scaffold.css" />
    </head>
    <body>
        <div class="header">
            <h1>NAL研卒業研究ノート</h1>
            <a href='/note/'>トップページ</a>|
            {% if user.username %}
            <a href='/note/home/'>ホーム</a>|
            {% endif %}
            <a href='/note/belong_list/'>所属一覧</a>|
            {% if user.username %}
            <a href='/note/auth/logout/'>ログアウト</a>|
            {% else %}
            <a href='/note/auth/login/'>ログイン</a>|
            {% endif %}
            <a href='/note/rss/latest/'>RSS</a>|
            <a href='/note/rss/comment/'>コメントRSS</a>|
            <form action='/note/search' method='GET'>
                <input name='keywords' value="" />
                <input type="submit" value="検索" class="button" />
            </form>
        </div>

        <div class="content">
            <p style="color: green"></p>
            {% block content %}{% endblock content%}
            <br>
        </div>
        <div class="footer">
            Django 1.1 yono@eva.ie.u-ryukyu.ac.jp
        </div>
    </body>
</html>
