{% extends "note/base.html" %}

{% block title %}
Index
{% endblock title %}

{% block content %}
{% if user_table %}
<table border="1">
    {% for year_list in user_table %}
    <tr>
        {% for belongs in year_list %}
        <td>
        <ul>
            {% for belong in belongs %}
            {% if belong.myuser %}
                {% if belong.end %}
                <li><a
                    href='/note/user/{{belong.myuser.nick}}/{{belong.start.year}}'/>{{belong.myuser.username}}</a></li>
                {% else %}
                <li><a href='/note/user/{{belong.myuser.nick}}'/>{{belong.myuser.username}}</a></li>
                {% endif %}
            {% else %}
                {{belong}}
            {% endif %}
            {% endfor %}
        </ul>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p> No users are avaliable. </p>
{% endif %}
{% endblock content %}
