{% extends "note/base.html" %}

{% block title %}
Index
{% endblock title %}

{% block content %}
{% if user_table %}
<table border="1">
    {% for year_list in user_table %}
    <tr>
        {% for users in year_list %}
        <td>
        <ul>
            {% for user in users %}
            <li><a href='/note/{{user.nick}}'/>{{user.username}}</a></li>
            {% endfor %}
        </ul>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p> No users are avaliable. </p>
{% endif %}
{% endblock content %}
