{% extends 'note/base.html' %}
{% load select_date %}
{% load utils %}
{% block title %} 
{{note.title}}
{% endblock title %}
{% block content %}
<h1>詳細表示</h1>
{% if note %}
<p>{{theuser.username}}</p>
<table border="1" cellspacing="0" width="750px">
    <tr>
        <td width="100px"><nobr>日付</nobr></td>
        <td>{{note.date}}</td>
    </tr>
    <tr>
        <td><nobr>場所</nobr></td>
        <td>{{note.locate}}</td>
    </tr>
    <tr>
        <td><nobr>開始時刻</nobr></td>
        <td>{{note.start}}</td>
    </tr>
    <tr>
        <td><nobr>終了時刻</nobr></td>
        <td>{{note.end}}</td>
    </tr>
    <tr>
        <td><nobr>時間</nobr></td>
        <td>{{note.elapsed_time|form_elapsed_time}}</td>
    </tr>
    <tr>
        <td><nobr>タイトル</nobr></td>
        <td>{{note.title}}</td>
    </tr>
    <tr>
        <td><nobr>内容</nobr></td>
        <td>{{note.content|convert_content:note.text_type|safe}}</td>
    </tr>
    <tr>
        <td><nobr>タグ</nobr></td>
        <td>
            {% for tag in note.tag.all %}
            <a href="/note/tag/?tag={{tag.name}}">{{tag.name}}</a>
            {% endfor %}
        </td>
    </tr>
</table>
<br>
{% endif %}

<h2>コメント</h2>
{% for comment in comments %}
<table border="1" cellspacing="0">
<tr>
    <td>本文</td>
    <td>{{comment.content|add_br|safe}}</td>
</tr>
<tr>
    <td>投稿者</td>
    <td>{{comment.name}}</td>
</tr>
<tr>
    <td>日付</td>
    <td>{{comment.posted_date}}</td>
</tr>
</table>
{% endfor %}

{% if user %}
  <form action='/note/post_comment/' method="POST">
    {{comment_form.as_p}}
    <input name="commit" type="submit" value="コメント投稿" />
  </form>
{% endif %}

{% ifequal user.username note.user.username %}
<a href='/note/note_edit?note_id={{note.id}}'>編集</a>|
{% endifequal %}
<a
    href='/note/user/{{theuser.username}}/'>{{theuser.fullname}}のノート一覧</a>
{% ifequal user.username note.user.username %}
|
<a href='/note/note_delete?note_id={{note.id}}'>削除</a>
{% endifequal %}
{% endblock content %}
