{% extends "note/base.html" %}
{% load select_date %}
{% block title %}
{% for keyword in keywords %}
{{keyword}}  
{% endfor %}
の検索結果
{% endblock title %}
{% block content %}
{% if notes %}

<table border="0"><!-- テーブルを横に並べる -->
    <tr><td valign='top'>

<h1>{% for keyword in keywords %}
 {{keyword}} 
{% endfor %}
の検索結果</h1>

<table border="1" cellspacing="0">
    <tr>
        <th>氏名</th><th>日付</th><th>タイトル</th>
    </tr>
    {% for note in notes %}
    <tr>
        <td>{{note.user.fullname}}</td>
        <td>{{note.date}}</td>
        <td><a href="/note/note_detail/{{note.id}}">{{note.title}}</a></td>
    </tr>
    {% endfor %}
</table>

</td>

<td valign='top'>
    <h1>関連語検索</h1>

{% for related_word in related_words %}
<h2>[{{related_word.word}}]</h2>
<table border="1" cellspacing="0">
    <tr>
        <th>氏名</th><th>日付</th><th>タイトル</th>
    </tr>
    {% for note in related_word.ids %}
    <tr>
        <td>{{note.user.fullname}}</td>
        <td>{{note.date}}</td>
        <td><a href="/note/note_detail/{{note.id}}">{{note.title}}</a></td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

</td>
</tr>
</table>

{% else %}
<p> No notes are avaliable. </p>
{% endif %}
{% endblock content %}
