{% extends "note/base.html" %}
{% load select_date %}
{% block title %}
[{{tag.name}}]タグの付いたノート一覧
{% endblock title %}
{% block content %}
<h1>[{{tag.name}}]タグの付いたノート一覧</h1>
{% if notes %}
<table border="1" cellspacing="0">
    <tr>
        <th>氏名</th><th>日付</th><th>タイトル</th> 
    </tr>
    {% for note in notes %}
    <tr>
        <td>{{note.user.fullname}}</td>
        <td>{{note.date}}</td>
        <td><a href="/note/note_detail/{{note.id}}">{{note.title}}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p> No notes are avaliable. </p>
{% endif %}
{% endblock content %}
