{% extends "note/base.html" %}
{% load select_date %}
{% block title %}
{{user.fullname}}のノート一覧
{% endblock title %}
{% block content %}
<h1>{{user.fullname}} のノート一覧</h1>
{% if notes %}
<p>タグ一覧:
{% for tag in tags %}
<a href='/note/tag/{{tag.tag}}/' class='{{tag.cssclass}}'>{{tag.tag}}</a>&nbsp;
{% endfor %}
</p>
<table border="1" cellspacing="0">
    <tr>
        <th>日付</th><th>タイトル</th><th>開始時刻</th><th>終了時刻</th><th>時
            間</th><th>場所</th>
    </tr>
    {% for note in notes %}
    <tr>
        <td>{{note.date}}</td>
        <td><a href="/note/user/{{user.username}}/{{note.date.year}}/{{note.date.month}}/{{note.id}}">{{note.title}}</a></td>
        <td>{{note.start}}</td>
        <td>{{note.end}}</td>
        <td>{{note.elapsed_time|form_elapsed_time}}</td>
        <td>{{note.locate}}</td>
    </tr>
    {% endfor %}
</table>
<div><h1>合計時間: {{totaltime|form_elapsed_time}}</h1></div>
{% else %}
<p> No notes are avaliable. </p>
{% endif %}
{% endblock content %}
