{% extends "note/base.html" %}
{% load select_date %}
{% block rss %}
<link rel="alternate" type="application/rss+xml"
href="/note/rss/user/{{theuser.username}}/" title="{{theuser.fullname}}のRSS">
{% endblock rss %}
{% block title %}
{% if year %}{{year}}年度 {% endif %}
{% if month %}{{month}}月 {% endif %}
{{theuser.fullname}} のノート一覧
{% endblock title %}
{% block content %}
<h1>{% if year %}{{year}}年度 {% endif %}
    {% if month %}{{month}}月 {% endif %}
    {{theuser.fullname}} のノート一覧</h1>
{% ifequal user.username theuser.username %}
<p><a href="/note/note_new?user={{theuser.id}}">新規作成</a></p>
{% endifequal %}
<p>タグ一覧:
{% for tag in tags %}
<a href='/note/tag/{{tag.tag}}/' class='{{tag.cssclass}}'>{{tag.tag}}</a>&nbsp;
{% endfor %}
</p>

{% if belongs %}
<form action='/note/user/{{theuser.username}}/' method='GET'>
<select id='belong' name='year'>
{% for belong in belongs %}
<option
value='{{belong.start.year}}'>{{belong.grade}}/{{belong.start.year}}</option>
{% endfor %}
</select>
<input type='submit' value='　表示　'/>
</form>
{% endif %}

{% if dates %}
<form action='/note/user/{{theuser.username}}/' method='GET'>
<select id='year-month' name='year-month'>
{% for date in dates %}
<option value='{{date.year}}-{{date.month}}'>{{date.year}}-{{date.month}}</option>
{% endfor %}
</select>月分
<input type='submit' value='　表示　' />
</form>
{% endif %}

{% if notes %}
<table border="1" cellspacing="0">
    <tr>
        <th>日付</th><th>タイトル</th>
        {% ifequal theuser.id user.id %}
        <th>編集</th>
        {% endifequal %}
        <th>開始時刻</th><th>終了時刻</th><th>時
            間</th><th>場所</th>
        {% ifequal theuser.id user.id %}
        <th>削除</th>
        {% endifequal %}
    </tr>
    {% for note in notes %}
    <tr>
        <td>{{note.date}}</td>
        <td><a href="/note/user/{{theuser.username}}/{{note.id}}">{{note.title}}</a></td>
        {% ifequal theuser.id user.id %}
        <td><a href="/note/note_edit/{{note.id}}/">編集</a></td>
        {% endifequal %}
        <td>{{note.start}}</td>
        <td>{{note.end}}</td>
        <td>{{note.elapsed_time|form_elapsed_time}}</td>
        <td>{{note.locate}}</td>
        {% ifequal theuser.id user.id %}
        <td><a href="/note/note_delete/{{note.id}}/">削除</a></td>
        {% endifequal %}
    </tr>
    {% endfor %}
</table>
<div><h1>合計時間: {{totaltime|form_elapsed_time}}</h1></div>
<a
    href='/note/user/{{theuser.username}}/'>{{theuser.fullname}}のノート一覧</a>
{% else %}
<p> No notes are avaliable. </p>
{% endif %}
{% endblock content %}
